@charset "UTF-8";

body {
  font-family: BIZ UDPゴシック;
  background-color: #98fb96;
  text-align: center;
}

h1 {
  font-size: 32px;
  color: blue;
}

h2 {
  font-size: 28px;
  background-color: royalblue;
  color: white;
}
